altair @ file:///croot/altair_1687526041770/work
annotated-types==0.7.0
appdirs==1.4.4
attrs @ file:///croot/attrs_1734533101012/work
azure-core==1.38.0
azure-storage-blob==12.26.0
azure-storage-file-datalake==12.21.0
boto3==1.40.36
botocore==1.40.36
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
cachetools==5.5.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1767500808759/work/certifi
cffi==2.0.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.8
cloudpathlib==0.20.0
cloudpickle==3.1.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
ConfigSpace==1.2.1
contourpy @ file:///croot/contourpy_1732540045555/work
cryptography==46.0.1
cycler==0.12.1
dask==2025.1.0
dask-jobqueue==0.9.0
Deprecated==1.2.18
deprecation==2.1.0
depthcharge-ms==0.4.8
dill==0.3.9
distributed==2025.1.0
einops==0.8.0
emcee==3.1.6
fastobo==0.12.3
filelock @ file:///croot/filelock_1700591183607/work
fonttools==4.55.3
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1734650190311/work
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-storage==3.4.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet @ file:///croot/greenlet_1733860072744/work
h5py==3.13.0
idna @ file:///croot/idna_1714398848350/work
importlib_metadata==8.6.1
isodate==0.7.2
Jinja2 @ file:///croot/jinja2_1730902924303/work
jmespath==1.0.1
joblib @ file:///croot/joblib_1718217211762/work
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
kiwisolver==1.4.8
lancedb==0.21.2
lark==1.2.2
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1734855532866/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1733996005542/work
llvmlite==0.43.0
locket==1.0.0
lxml==5.4.0
MarkupSafe @ file:///croot/markupsafe_1736366905094/work
matchms==0.30.2
matplotlib==3.10.0
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
more-itertools==10.6.0
mpmath @ file:///croot/mpmath_1690848262763/work
ms_entropy==1.3.9
msgpack==1.1.0
networkx==3.5
numba==0.61.2
numexpr @ file:///croot/numexpr_1730215937391/work
numpy==2.2.6
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp311-cp311-linux_x86_64.whl#sha256=884420a58b11b4c9b7f4df21046caaae9229522b672b557f0f98c84251141fc5
partd==1.4.2
pickydict==0.5.0
pillow @ file:///croot/pillow_1734430590456/work
ply==3.11
polars==1.19.0
ppx==1.5.0
proto-plus==1.26.1
protobuf==6.32.1
psims==1.3.4
psutil==6.1.1
PubChemPy==1.0.5
pulearn==0.0.11
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.11.3
pydantic_core==2.33.1
pylance==0.22.0
pynisher==1.0.10
pynndescent==0.5.13
pyparsing==3.2.1
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
pyrfr==0.9.0
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pyteomics==4.7.5
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1734855499035/work
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
rdkit==2024.9.6
referencing @ file:///croot/referencing_1699012038513/work
regex==2024.11.6
requests @ file:///croot/requests_1730999120400/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
rsa==4.9.1
s3transfer==0.14.0
scikit-learn @ file:///croot/scikit-learn_1734547417863/work
scipy==1.16.2
seaborn==0.13.2
selfies==2.1.2
sip @ file:///croot/sip_1736541134699/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smac==2.3.0
sortedcontainers==2.4.0
sparsestack==0.7.0
spectrum-utils==0.4.2
SQLAlchemy @ file:///croot/sqlalchemy_1736565039440/work
sympy==1.13.1
tblib==3.0.0
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
toolz @ file:///croot/toolz_1736796253816/work
torch==2.5.1
torch-summary==1.4.5
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1735195057326/work
torchvision==0.20.1
tornado @ file:///croot/tornado_1733960490606/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
triton==3.1.0
typing-inspection==0.4.0
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
urllib3 @ file:///croot/urllib3_1727769808118/work
wrapt==1.17.3
zict==3.0.0
zipp==3.21.0
